In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/raw_dataset/BigBasket Products.csv")
df.head(5)

,index,product,category,sub_category,brand,sale_price,market_price,type,rating,description
0,1,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,Hair Care,Sri Sri Ayurveda,220.0,220.0,Hair Oil & Serum,4.1,This Product contains Garlic Oil that is known...
1,2,Water Bottle - Orange,"Kitchen, Garden & Pets",Storage & Accessories,Mastercook,180.0,180.0,Water & Fridge Bottles,2.3,"Each product is microwave safe (without lid), ..."
2,3,"Brass Angle Deep - Plain, No.2",Cleaning & Household,Pooja Needs,Trm,119.0,250.0,Lamp & Lamp Oil,3.4,"A perfect gift for all occasions, be it your m..."
3,4,Cereal Flip Lid Container/Storage Jar - Assort...,Cleaning & Household,Bins & Bathroom Ware,Nakoda,149.0,176.0,"Laundry, Storage Baskets",3.7,Multipurpose container with an attractive desi...
4,5,Creme Soft Soap - For Hands & Body,Beauty & Hygiene,Bath & Hand Wash,Nivea,162.0,162.0,Bathing Bars & Soaps,4.4,Nivea Creme Soft Soap gives your skin the best...

In [3]:
print(df.columns)
print(df.shape)

Index(['index', 'product', 'category', 'sub_category', 'brand', 'sale_price',
       'market_price', 'type', 'rating', 'description'],
      dtype='object')
(27555, 10)

In [4]:
df = df[[
    "product",
    "category",
    "sale_price"
]]

In [5]:
df.head(5)

,product,category,sale_price
0,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,220.0
1,Water Bottle - Orange,"Kitchen, Garden & Pets",180.0
2,"Brass Angle Deep - Plain, No.2",Cleaning & Household,119.0
3,Cereal Flip Lid Container/Storage Jar - Assort...,Cleaning & Household,149.0
4,Creme Soft Soap - For Hands & Body,Beauty & Hygiene,162.0

In [6]:
df.dropna(subset=["product", "category", "sale_price"], inplace=True)

In [7]:
df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df.dropna(subset=["sale_price"], inplace=True)

In [8]:
#dropping duplicates to prevetn ordering of the same items
df.drop_duplicates(subset=["product"], inplace=True)

In [9]:
#added randome current stock
df["current_stock"] = np.random.randint(0, 100, size=len(df))

In [10]:
#added randome avg_daily_sales
df["avg_daily_sales"] = np.random.randint(1, 10, size=len(df))

In [11]:
df.head(3)

,product,category,sale_price,current_stock,avg_daily_sales
0,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,220.0,8,5
1,Water Bottle - Orange,"Kitchen, Garden & Pets",180.0,24,7
2,"Brass Angle Deep - Plain, No.2",Cleaning & Household,119.0,48,2

In [12]:
df.describe()

         sale_price  current_stock  avg_daily_sales
count  23540.000000   23540.000000     23540.000000
mean     327.504681      49.151997         4.994775
std      487.730125      28.738800         2.579072
min        3.000000       0.000000         1.000000
25%       98.000000      24.000000         3.000000
50%      196.000000      49.000000         5.000000
75%      365.000000      74.000000         7.000000
max    12500.000000      99.000000         9.000000

In [13]:
# Assume 20% retail margin
MARGIN = 0.20

df["supplier_cost"] = (df["sale_price"] * (1 - MARGIN)).round(2)

In [14]:
#adding different supplier options
suppliers = ["SUP1", "SUP2", "SUP3"]
df["supplier_id"] = np.random.choice(suppliers, size=len(df))

In [15]:
df.to_csv("../data/processed_dataset/inventory.csv", index=False)

In [16]:
df.head(3)

,product,category,sale_price,current_stock,avg_daily_sales,supplier_cost,supplier_id
0,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,220.0,8,5,176.0,SUP3
1,Water Bottle - Orange,"Kitchen, Garden & Pets",180.0,24,7,144.0,SUP3
2,"Brass Angle Deep - Plain, No.2",Cleaning & Household,119.0,48,2,95.2,SUP2